<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button @click="handleClick">Click Times {{ $store.state.count }}</button>
  </div>
</template>

<script>
export default {
  methods: {
    handleClick() {
      this.$store.commit('increment')
    },
  },
}
</script>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
