/** 全局变量 **/
$borderColor: #eee; /*默认边框颜色*/
$hoverColor: #447ed9; /*默认交互颜色*/
$hoverBgColor: #f8f8f8; /*默认交互背景颜色*/
$defaultBtnColor: #006ef9; /*默认按钮颜色*/
$defaultBtnHoverColor: #0062fc; /*默认按钮颜色*/
$bodyColor: #f5f5f5; /*body背景颜色*/
$bgColor: #eee; /*背景颜色*/
$fontColor: #000; /*默认字体颜色*/
@mixin media-max-width($width: 980px) {
  @media screen and (max-width: $width) {
    @content;
  }
}
@mixin media-max-height($height: 980px) {
  @media screen and (max-height: $height) {
    @content;
  }
}
@mixin transition($property: all, $duration: 0.3s, $timing: ease, $delay: 0s) {
  $webkit: '';
  $ms: '';
  @if $property== 'transform' {
    $webkit: '-webkit-';
    $ms: '-ms-';
  }
  transition: $property $duration $timing $delay;
  -webkit-transition: #{$webkit}#{$property} $duration $timing $delay;
  -ms-transition: #{$ms}#{$property} $duration $timing $delay;
}
@mixin transitionS($property: all, $duration: 0.3s, $timing: ease) {
  transition-property: #{$property};
  transition-duration: $duration;
  transition-timing-function: $timing;
  -webkit-transition-property: #{$property};
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $timing;
  -ms-transition-property: #{$property};
  -ms-transition-duration: $duration;
  -ms-transition-timing-function: $timing;
}
@mixin opacity($pre: 0) {
  filter: alpha(opacity=$pre);
  opacity: calc($pre / 100);
  -moz-opacity: calc($pre / 100);
}
@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@mixin box-sizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@mixin fixbackground {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
@mixin translateX($x: 50%) {
  transform: translateX(#{$x});
  -webkit-transform: translateX(#{$x});
  -ms-transform: translateX(#{$x});
}
@mixin translateY($x: 50%) {
  transform: translateY(#{$x});
  -webkit-transform: translateY(#{$x});
  -ms-transform: translateY(#{$x});
}
@mixin translateZ($x: 50%) {
  transform: translateZ(#{$x});
  -webkit-transform: translateZ(#{$x});
  -ms-transform: translateZ(#{$x});
}
@mixin scale($radio: 1) {
  transform: scale(#{$radio});
  -webkit-transform: scale(#{$radio});
  -ms-transform: scale(#{$radio});
}
@mixin rotateX($deg: 0deg) {
  transform: rotateX(#{$deg});
  -webkit-transform: rotateX(#{$deg});
  -ms-transform: rotateX(#{$deg});
}
@mixin rotate($deg: 0deg) {
  transform: rotate(#{$deg});
  -webkit-transform: rotate(#{$deg});
  -ms-transform: rotate(#{$deg});
}
@mixin translate($x: 0, $y: 0) {
  transform: translate(#{$x}, #{$y});
  -webkit-transform: translate(#{$x}, #{$y});
}
@mixin translate3d($x: 50%, $y: 50%, $z: 50%) {
  transform: translate3d(#{$x}, #{$y}, #{$z});
  -webkit-transform: translate3d(#{$x}, #{$y}, #{$z});
}
@mixin transform($tra: none) {
  transform: #{$tra};
  -webkit-transform: #{$tra};
}
@mixin animation($ani: none) {
  animation: #{$ani};
  -webkit-animation: #{$ani};
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}
@mixin bgcolor($color, $opacity) {
  $num: floor($opacity * 255);
  $sixteen: tenToSixteen($num);
  $colorStr: '#' + $sixteen + str-slice('#{$color}', 2);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#{$colorStr}', endColorstr='#{$colorStr}');
  background-color: rgba($color, $opacity);
}
@function tenToSixteen($num) {
  $sixteen: '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '0A', '0B', '0C', '0D', '0E', '0F', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '1A', '1B',
    '1C', '1D', '1E', '1F', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '2A', '2B', '2C', '2D', '2E', '2F', '30', '31', '32', '33', '34', '35', '36', '37', '38',
    '39', '3A', '3B', '3C', '3D', '3E', '3F', '40', '41', '42', '43', '44', '45', '46', '47', '48', '49', '4A', '4B', '4C', '4D', '4E', '4F', '50', '51', '52', '53', '54', '55',
    '56', '57', '58', '59', '5A', '5B', '5C', '5D', '5E', '5F', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '6A', '6B', '6C', '6D', '6E', '6F', '70', '71', '72',
    '73', '74', '75', '76', '77', '78', '79', '7A', '7B', '7C', '7D', '7E', '7F', '80', '81', '82', '83', '84', '85', '86', '87', '88', '89', '8A', '8B', '8C', '8D', '8E', '8F',
    '90', '91', '92', '93', '94', '95', '96', '97', '98', '99', '9A', '9B', '9C', '9D', '9E', '9F', 'A0', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'AA', 'AB', 'AC',
    'AD', 'AE', 'AF', 'B0', 'B1', 'B2', 'B3', 'B4', 'B5', 'B6', 'B7', 'B8', 'B9', 'BA', 'BB', 'BC', 'BD', 'BE', 'BF', 'C0', 'C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7', 'C8', 'C9',
    'CA', 'CB', 'CC', 'CD', 'CE', 'CF', 'D0', 'D1', 'D2', 'D3', 'D4', 'D5', 'D6', 'D7', 'D8', 'D9', 'DA', 'DB', 'DC', 'DD', 'DE', 'DF', 'E0', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6',
    'E7', 'E8', 'E9', 'EA', 'EB', 'EC', 'ED', 'EE', 'EF', 'F0', 'F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'FA', 'FB', 'FC', 'FD', 'FE', 'FF';
  @return nth($sixteen, $num + 1);
}
@function px($px) {
  @return calc($px / 100) * 2rem;
}

%clearFix {
  *zoom: 1;
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

%leftImg {
  display: block;
  float: left;
  @include fixbackground;
}
@mixin triangle($width: 0.1rem, $color: #e22426, $rotate: 135deg) {
  width: $width;
  height: $width;
  border-style: solid;
  border-color: $color $color transparent transparent;
  border-width: 1px 1px 0 0;
  @include rotate($rotate);
}
%oneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
%unoneLine {
  text-overflow: initial;
  white-space: initial;
}
%twoLine {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
%contentWidth {
  width: -moz-max-content;
  width: -ms-max-content;
  width: -webkit-max-content;
  width: max-content;
}
%active {
  @include transition(background-color);
  &:active {
    background-color: #f4f4f4;
  }
}

@mixin active($color: #f4f4f4) {
  @include transition(background-color);
  &:active {
    background-color: $color;
  }
}

%containerBoxShadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.81);
}
%overflowAuto {
  // overflow-x: hidden;
  overflow-x: auto;
  overflow-y: auto;
}
$topMargin: px(40);
%iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
